<div id="<%= dom_id relationship %>">
  <p>
    <strong>Follower:</strong>
    <%= relationship.follower_id %>
  </p>

  <p>
    <strong>Followed:</strong>
    <%= relationship.followed_id %>
  </p>

</div>
